html {
  font-family: "Merriweather", serif;
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

nav {
  font-size: 1.125rem;
  text-align: center;
  color: #fff;
}

nav ul {
  list-style-type: none;
}

body {
  background-color: #d05c2e;
}
